# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.venv
venv

# React
node_modules/
npm-debug.log
build/
.next/
# .npm/

# Docker
.DS_Store
*.env
example_env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Linux
.*
*~