/* @import  url('https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.golden {
background: linear-gradient(90.54deg, #9E7A03 0.28%, #7a5e02 5.43%, #876802 6.08%, #6F5502 6.58%, #634C02 57.91%, #473700 99.72%);
box-shadow: 0px 0px 0px 1px rgba(207, 207, 207, 0.25);
backdrop-filter: blur(25px);

}
.purple_button {
  padding: 2%;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  display: flex; /* flex */ 
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  font-size: 1rem; /* text-base */
  font-weight: 700; /* font-bold */
  color: white; /* text-white */
}

.silver{
background: linear-gradient(90deg, rgba(52, 60, 55, 0.5) 0%, rgba(141, 162, 149, 0.5) 100%);
box-shadow: 0px 0px 0px 1px rgba(207, 207, 207, 0.25);
backdrop-filter: blur(25px);
}

.bronze{
background: linear-gradient(90deg, rgba(165, 115, 19, 0.5) 0%, rgba(63, 44, 7, 0.5) 101.46%);
box-shadow: 0px 0px 0px 1px rgba(207, 207, 207, 0.25);
backdrop-filter: blur(25px);
}

.purple_button:hover {
  box-shadow: 0 0 0 4px rgba(159, 122, 234, 0.7); /* hover:ring hover:ring-violet-300 */
}

.montserrat_font {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@keyframes rainbow-border {
  0% { border-color: red; }
  14% { border-color: orange; }
  28% { border-color: yellow; }
  42% { border-color: green; }
  57% { border-color: blue; }
  71% { border-color: indigo; }
  85% { border-color: violet; }
  100% { border-color: red; }
}

.rainbow-border {
  animation: rainbow-border 5s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}