# Postgres
POSTGRES_DB = 'postgres'
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = 'postgres'
POSTGRES_HOST = 'postgres-db'
POSTGRES_PORT = '5432'

# Elasticsearch
ELASTICSEARCH_HOST = 'http://elasticsearch:9200'

# Next.js
NEXT_TELEMETRY_DISABLED=1
